body{
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;

}

#title {
  background-color: #000;
  color: #d4af37;
}


.container-fluid {
padding: 3% 15%;
}


h2,h3,h4,h5,h6
{
    font-family: 'Monserrat-Bold';
}
h1 {

    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-size:4vw
}

h2 {

  padding: 7% 5%;
  font-size: 3.5rem;
  color: #fff;
}

h3 {

  color: #d4af37;
  font-size:2vw
}

h4
{

  color: #d4af37;
  font-size:2vw
}
.nowrap {
  white-space: nowrap ;
}
.row
{
  position: 20% 10% 20% 10%;
}
.tytul
{
  padding: 20%;
  padding-left: 0;
  margin: -20%;
}
.navbar
{
  padding: 0 40%;
  /*position: fixed;*/


}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {

  float: right;
  padding-left: 4%;

}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.title-image
{
  width: 40%;

}

.flaga

{
  size: 10px;
}

/* features section */
#features {

  padding: 15%;
  background-color: #000;
  color: #fff;

}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon
{
  color:  #d4af37;
}

.icon:hover
{
  color: #ff4c68;
}

.lista {
  color: #d4af37;
  text-align: center;
}

.lista0 {
  color: #d4af37;
  <!-- padding-left: 30%; -->
  text-align: center;
}

.godzinki {
  padding: 1%;
}
.prywatnosc {
  color: yellow;
  padding: 7% 15%;
}

/* Testimonials section */

#testimonials
{
  padding: 1% 15%;
  text-align: center;
  background-color: #000;
}

#pricing
{
    padding: 0 15%;
    text-align: center;
    background-color: #000;
}

#footer {
  padding: 7% 15%;
}


@media (max-width: 623px) {
    html {
        font-size: 18px;

    }
}
